body,html {
    margin:0;
    padding: 0;
}

#blur-div {
    position: relative;
    margin: 0 auto;
    /*width: 1280px;*/
    /*height: 800px;*/
    overflow: hidden;
}

#blur-image {
    display: block;
    position: absolute;
    top:0;
    left:0;
    margin: 0 auto;
    /*width: 1280px;*/
    /*height: 800px;*/
    /* CSS3 */
    filter: blur(20px);
    -webkit-filter: blur(20px);
    -ms-filter: blur(20px);

    z-index: 0;
}

#canvas {
    display: block;
    position: absolute;
    top:0;
    left:0;
    margin: 0 auto;

    z-index:100;
}

.button {
    display: block;
    position: absolute;
    z-index: 200;

    width: 100px;
    height: 40px;
    line-height: 40px;

    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

#reset-button {
    left:10%;
    bottom:20%;
    background-color: #3338ff;
}
#reset-button:hover {
    background-color: #7e8fff;
}
#show-button {
    right:10%;
    bottom:20%;
    background-color: #16ff25;
}
#show-button:hover {
    background-color: #8bffae;
}